*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body
{
    background-image: url("https://images.pexels.com/photos/2774566/pexels-photo-2774566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main
{
    
    width: 100vw;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.btn
{
    width:69vw;
    padding: 2px;
    border: 2px solid rgb(5, 5, 5);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: rgba(75, 75, 75, 0.486);
    color: aliceblue;
    transition: all 0.1s;
}
.btn span{
    display: block;
    text-transform: uppercase;
    color: rgb(177, 131, 5);
    font-size: 0.6rem;
}
.border-change
{
    border:3px solid yellow;
}